<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLIP Recommendation</title>
    <style>.center {
        padding-top: 25px;
        text-align: center;
        margin: auto;
    }
    
    .imageBox {
        margin: 5px;
        float: left;
        width: 320px;
        height: 600px;
    }
    
    div.imageBox img {
        width: 100%;
        height: auto;
    }
    
    .desc {
        padding: 15px;
        text-align: center;
    }</style>
</head>
<body>
    <div class="center">
        <form method="post", enctype="multipart/form-data">
            <input type="text" name="text_input" value="">
            <br></br>
            <input type="file" id="image-input" name="image">
            <br></br>
            <input type="submit" value="Find Image">
        </form>
    </div>
    <div class="center">
        {% for url,sim in urls %}
            <div class="imageBox">
                <div class="desc">{{ sim }}</div>
                <img src={{ url }}>
            </div>
        {% endfor %}
    </div>
</body>
</html>